<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container px-md-5">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Contactame</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><a href="mailto:jeffersonaguilar@outlook.com"><span class="icon icon-envelope"></span><span class="text">jeffersonaguilar@outlook.com</span></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Copyright &copy; {{year}} Todos los derechos reservados</p>
        </div>
      </div>
    </div>
  </footer>