<div class="hero-wrap js-fullheight" style="background-image: url(/assets/images/js.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="js-fullheight d-flex justify-content-center align-items-center">
        <div class="col-md-8 text text-center">
            <div class="img mb-4" style="background-image: url(/assets/images/jeff.jpg);"></div>
            <div class="desc">
                <h2 class="subheading">Hola yo soy</h2>
                <h1 class="mb-4">Jefferson Aguilar</h1>
                <p class="mb-4">Apasionado por lo que hago, las redes sociales, videojuegos. Innovador, responsable, leal y serio, me gusta estar en constante aprendizaje, amable y sereno, empiezo cada día con nuevos proyectos y metas por alcanzar.</p>
            </div>
        </div>
    </div>
</div>